<section class="py-2">
  <div class="row">
    <div class="col-md-6 text-center">
      <h1 class="display-3 mt-3 pt-5">
        Web Development Ebook
      </h1><p class="lead">learn web development front to back</p>
      <form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_vBVa8tmPvEeiCtS0RK67SIps"
    data-amount="999"
    data-name="No Bedtime No Way"
    data-description="Ebook written by Paris Evans"
    data-image="/img/marketplace.png"
    data-locale="auto">
  </script>
  <script>
    // Hide default stripe button
    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
  </script>
  <button type="submit" class="btn btn-outline-dark text-white btn-lg">Purchase for $9.99</button>
</form>
    </div>
    <div class="col-md-6">
      <img src="/img/bedtime.jpg" alt="" class="img-fluid">
    </div>
  </div>
</section>
